# macOS
.DS_Store

# Xcode
*.xcodeproj
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Code coverage
*.profdata
*.profraw
.codecov/

# IDE
.vscode/
.idea/

# Temporary
*.tmp
*.swp
*~
