# macOS
.DS_Store

# Swift
.build/
.swiftpm/
*.xcodeproj
*.xcworkspace
DerivedData/
*.playground

# Package resolved
Package.resolved

# Coverage
*.lcov
coverage/
.codecov/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
test-results/
*.xcresult

# Generated
Packages/*/Sources/*/Generated/

# Backups creados por scripts
**/.backup/
*.bak
# Archivos generados por Swift OpenAPI Generator
/Packages/NearJsonRpcTypes/Sources/NearJsonRpcTypes/Generated/
/Packages/NearJsonRpcClient/Sources/NearJsonRpcClient/Generated/